
# NODE MODULES (IMPORTANT)
node_modules/
client/node_modules/
server/node_modules/

# ENV FILES 
.env
server/.env
client/.env

# BUILD FILES
client/build/
dist/

# LOG FILES
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# OS FILES
.DS_Store
Thumbs.db

# 
.vscode/
.idea/